%% behaviours should be compiled before other files
{erl_first_files, [
    "plugins/rebar_git_plugin.erl"
]}.

{erl_opts, [
    fail_on_warning,
    debug_info
]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "../test/eunit_results"}]}}
]}.

%% Test coverage
{cover_enabled, true}.

%% deps directory
{lib_dirs, ["deps"]}.

{sub_dirs, ["rel"]}.

{deps, []}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    {eunit, "epmd -daemon"} %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
]}.

%% Cleanup
{clean_files, ["test/eunit_results"]}.
